.header {

    margin: 0px;
    padding: 10px;
    border-bottom: 1px solid black;
}
.head-color {
    background-color: hsla(240, 50%,50%,1);
    color: rgb(255, 255, 255);

}

body {
    background-color: rgb(238, 245, 246);
    color: rgb(0, 0, 0);
    font-family: 'Roboto', sans-serif;
}

table {
    border-collapse: collapse;
    width: 50%;
}

table th, table td {
    padding: 8px;
    border: 1px solid black;
}

table tr:nth-child(even) {
    background-color: rgba(119, 136, 153, 0.616);
}

.text-color-glow-blue {
    /* color: rgb(22, 86, 20) */
    text-shadow: rgb(123, 208, 242) 1px 0 10px;
}

.text-color-green {
    color: rgba(2, 149, 2, 0.692);
}

.space {
    padding: 1px;
}
.taco {
    height: 200px;
}

footer {
    padding: 1rem;
    background-color: hsla(240,100%,15%,1);
    color: white;
}

.grid {
    display:grid;
    grid-template-columns: 4;
    grid-template-rows: 2;
}

    .grid-1 {
        grid-column-start: 1;
    }

    .grid-2 {
        grid-column-start: 2;
    }

    .grid-3 {
        grid-column-start: 3;
    }

    .grid-4 {
        grid-column-start: 4;
    }

    .grid-5 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

a:hover {
    color: blue;
}

a:active {
    color: red;
}

li {
    padding: 0.5em;
    font-size: 1.1em;
}

.text-star {
    font-size: 1em;
}
